# Khám phá dữ liệu

notebook này thực hiện việc khám phá dữ liệu

## Import các thư viện cần thiết

In [2]:
import pandas as pd
import numpy as np

## Đọc file dữ liêu

Dữ liệu của chúng ta được lưu trong file 'Anime.csv'. Chúng ta sẽ đọc dữ liệu và lưu vào DataFrame `data_df`

In [3]:
data_df = pd.read_csv('Anime.csv')

Hiển thị 5 dòng đầu của dữ liệu để xem đọc đúng chưa

In [4]:
data_df.head(5)

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,...,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013",...,"Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006",...,Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009",...,Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772
3,30276,One Punch Man,"One Punch-Man, One-Punch Man, OPM",ワンパンマン,One Punch Man,The seemingly unimpressive Saitama has a rathe...,TV,12.0,Finished Airing,"Oct 5, 2015",...,"Parody, Super Power",Seinen,24.0,R - 17+ (violence & profanity),8.511,19066.0,1112.0,4,2879907,59651
4,11757,Sword Art Online,"S.A.O, SAO",ソードアート・オンライン,Sword Art Online,Ever since the release of the innovative Nerve...,TV,25.0,Finished Airing,"Jul 8, 2012",...,"Love Polygon, Video Game",Unknown,23.0,PG-13 - Teens 13 or older,7.201,990254.0,29562.0,5,2813565,64997

Vậy là phần đọc dữ liệu đã ok!

## Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

Đếm số dòng và số cột rồi sau đó lần lượt lưu vào 2 biến `num_rows` và `num_cols`

In [5]:
num_rows, num_cols = data_df.shape
print('Số dòng: ',num_rows)
print('Số cột: ', num_cols)

Số dòng:  21460
Số cột:  28

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng thể hiện các thông tin khác nhau về một bộ anime, có vẻ như tất cả các dòng đều có ý nghĩa giống nhau, không có dòng nào mang ý nghĩa khác so với các dòng còn lại

## Dữ liệu có các dòng bị lặp không?

Chúng ta sử dụng hàm 'duplicated' trong pandas để kiểm tra dòng đó có phải bị lặp trong DataFrame hay không. Nếu kết quả là dòng đó bị lặp sẽ trả về giá trị 1, ngược lại sẽ là 0. Kế tiếp chúng ta sử dùng hàm 'sum' để tính tất cả giá trị trả về của hàm 'duplicated'. Nếu kết quả > 0 thì chứng tỏ có tồn tại dòng bị lặp. Sau đó chúng ta lưu kết quả vào biến `is_duplicated_rows` với giá `True` khi tồn tại dòng dữ liệu bị lặp

In [6]:
is_duplicated_rows = data_df.duplicated().sum() > 0

if is_duplicated_rows:
    print('Dữ liệu có tồn tại dòng bị lặp')
else:
    print("Dữ liệu không tồn tại dòng bị lặp")

Dữ liệu không tồn tại dòng bị lặp

### Mỗi cột có ý nghĩa gì?

Để xem ý nghĩa của mỗi cột thì:
- Dựa vào link dữ liệu mà nhóm chúng em sử dụng, Kaggle có cung cấp thêm thông tin cũng như ý nghĩa của các cột, từ đó chúng em lấy dữ liệu và lưu vào file "anime_col_meaning.csv"
- Để biết được mỗi cột có ý nghĩa gì thì:
    - Đọc file "anime_col_meaning.csv" và lưu vào DataFrame "col_meaning_df", trong đó cột "Column" làm cột index và cột "Description" làm giá trị.
    - Hiển thị  DataFrame "col_meaning_df" ra để xem.
- Sử dụng câu lệnh `pd.set_option` để các chuỗi mô tả không bị cắt.

In [7]:
data_df.columns

Index(['ID', 'Title', 'Synonyms', 'Japanese', 'English', 'Synopsis', 'Type',
       'Episodes', 'Status', 'Start_Aired', 'End_Aired', 'Premiered',
       'Broadcast', 'Producers', 'Licensors', 'Studios', 'Source', 'Genres',
       'Themes', 'Demographics', 'Duration_Minutes', 'Rating', 'Score',
       'Scored_Users', 'Ranked', 'Popularity', 'Members', 'Favorites'],
      dtype='object')

In [8]:
fname = 'anime_col_meaning.csv'
col_meaning_df = pd.read_csv(fname, usecols=['Column', 'Description']).set_index('Column') 
pd.set_option('display.max_colwidth', 0)
col_meaning_df

                                                                                        Description
Column
ID                ID anime at MyAnimeList.net
Title             The original name of the anime
Synonyms          The synonym name of the anime
Japanese          The title of the anime in Japanese
English           The title of the anime in English
Synopsis          The overview of the anime
Type              Anime type
Episodes          Number of episodes in anime
Status            The status of whether the anime has not, is currently, or has been aired
Start_Aired       The date or year when the anime started airing
End_Aired         The date or year when the anime ended airing
Premiered         Season premiered
Broadcast         Anime broadcast schedule
Producers         List of producers
Licensors         List of licensors
Studios           List of studios
Source            The source of the anime
Genres            List of genres
Themes            List of themes
Demographics      List of demographics
Duration_Minutes  Total duration per minute on each episode
Rating            Age rate
Score             Average score of the anime given from users in MyAnimeList.net
Scored_Users      Number of users giving scores to the anime
Ranked            Ranking based on the score
Popularity        Ranking based on the popularity in which users have added the anime to their list
Members           Number of users who have added the anime to their list
Favorites         Number of users who have marked the anime as their favorite anime

### Chọn và loại bỏ một số cột

Nhóm chúng em bỏ đi cột "Japanese" chứa tên Tiếng Nhật, vì có nhiều giá trị thiếu, khá khó để đọc và đã có cột "Title" chứa tên gốc của phim.
Các cột còn lại vẫn được giữ lại để sử dụng tiếp cho việc khám phá và phân tích.

Tổng quan về các cột mà chúng em sử dụng bao gồm:
- Cột index: ID
- Tên gọi và tổng quan về phim: Title, Synonyms, English, Synopsis
- Thông tin liên quan đến phát sóng phim: Type, Episodes, Status, Start_Aired, End_Aired, Premiered, Broadcast
- Một số thông tin về nhà sản xuất: Producers, Licensors, Studios
- Nguồn gốc, thể loại và các đặc tính khác của phim: Source, Genres, Themes, Demographics, Duration_Minutes
- Các đánh giá và xếp hạng của phim: Rating, Score, Scored_Users, Ranked, Popularity, Members, Favorites

In [9]:
data_df.drop(['Japanese'], axis=1, inplace = True)
shape = data_df.shape
shape

(21460, 27)

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [10]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21460 entries, 0 to 21459
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                21460 non-null  int64
 1   Title             21460 non-null  object
 2   Synonyms          21460 non-null  object
 3   English           21460 non-null  object
 4   Synopsis          21460 non-null  object
 5   Type              21460 non-null  object
 6   Episodes          20913 non-null  float64
 7   Status            21460 non-null  object
 8   Start_Aired       21460 non-null  object
 9   End_Aired         21460 non-null  object
 10  Premiered         21460 non-null  object
 11  Broadcast         21460 non-null  object
 12  Producers         21460 non-null  object
 13  Licensors         21460 non-null  object
 14  Studios           21460 non-null  object
 15  Source            21460 non-null  object
 16  Genres            21460 non-null  object
 17  Themes            21460 non-null  object
 18  Demographics      21460 non-null  object
 19  Duration_Minutes  20861 non-null  float64
 20  Rating            21460 non-null  object
 21  Score             14562 non-null  float64
 22  Scored_Users      14562 non-null  float64
 23  Ranked            19536 non-null  float64
 24  Popularity        21460 non-null  int64
 25  Members           21460 non-null  int64
 26  Favorites         21460 non-null  int64
dtypes: float64(5), int64(4), object(18)
memory usage: 4.4+ MB

Chúng em tính kiểu dữ liệu (dtype) của mỗi cột trong DataFrame `data_df` và lưu kết quả vào Series `dtypes` (Series này có index là tên cột).

In [11]:
dtypes = data_df.dtypes
dtypes

ID                  int64
Title               object
Synonyms            object
English             object
Synopsis            object
Type                object
Episodes            float64
Status              object
Start_Aired         object
End_Aired           object
Premiered           object
Broadcast           object
Producers           object
Licensors           object
Studios             object
Source              object
Genres              object
Themes              object
Demographics        object
Duration_Minutes    float64
Rating              object
Score               float64
Scored_Users        float64
Ranked              float64
Popularity          int64
Members             int64
Favorites           int64
dtype: object

Nhìn vào kết quả của series 'dtypes' chúng ta có thể thấy, cột "Start_Aired" và "End_Aired" nên có kiểu dữ liệu datetime, nhưng hiện tại đang có kiểu dữ liệu object. Chúng ta có thể xem thêm về các giá trị 2 cột này.

In [12]:
data_df['Start_Aired'].unique()

array(['Apr 7, 2013', 'Oct 4, 2006', 'Apr 5, 2009', ..., 'Aug 2013',
       'Dec 24, 2013', 'May 12, 2018'], dtype=object)

In [13]:
data_df['End_Aired'].unique()

array(['Sep 29, 2013', 'Jun 27, 2007', 'Jul 4, 2010', ..., 'Oct 27, 2015',
       'May 30, 2018', 'Nov 6, 2014'], dtype=object)

Để dễ dàng khám phá, phân tích cũng như trích xuất ngày, tháng, năm ở 2 cột này, chúng ta nên đưa 2 cột này về kiểu dữ liệu datetime.
Thay vì 'Sep 29, 2013' thì chuyển thành '09/29/2013'

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

Với các cột có kiểu dữ liệu số, sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Số lượng các giá trị khác nhau
- Số lần xuất hiện của mỗi giá trị
- Giá trị min
- Giá trị lower quartile (phân vị 25)
- Giá trị median (phân vị 50)
- Giá trị upper quartile (phân vị 75)
- Giá trị max
- Giá trị trung bình

Lưu kết quả vào DataFrame `stat_col_numeric`, trong đó: 
- Tên của các cột là tên của các cột số trong `data_df`
- Tên của các dòng là: "missing_ratio", "num_differ_value", "value", "min", "lower_quartile", "median", "upper_quartile", "max", "mean"

Để dễ nhìn, tất cả các giá trị đều làm tròn với 1 chữ số thập phân bằng phương thức `.round(1)`.

In [14]:
def stat_numeric_col(col):
    temp = []
    # missing_ratio
    temp.append(round((100 - (len(col.dropna()) / len(col) * 100)), 1))
    # num_differ_value
    num_value, times = np.unique(col, return_counts=True)
    temp.append(len(num_value))
    # times appear of each value
    temp.append(pd.Series(data = times, index = num_value))
    # min =  0; median = 50;  max = 100
    for i in range(0, 101, 25):
        temp.append(round(np.nanpercentile(col, i, axis = 0), 1))
    # mean
    temp.append(col.mean())
    return temp

- Đối với các cột số 'Episodes', 'Duration_Minutes', 'Score', 'Scored_Users', 'Ranked', 'Popularity', 'Members', 'Favorites' hiện tại đang có dạng dữ liệu gì?

In [15]:
element = ['Episodes', 'Duration_Minutes', 'Score', 'Scored_Users', 'Ranked', 'Popularity', 'Members', 'Favorites']
data_df[element].dtypes

Episodes            float64
Duration_Minutes    float64
Score               float64
Scored_Users        float64
Ranked              float64
Popularity          int64
Members             int64
Favorites           int64
dtype: object

- Tất cả đều có kiểu dữ liệu phù hợp để đưa vào tính toán

In [16]:
stat_col_numeric = pd.DataFrame(index = ['missing_ratio', 'num_differ_value', 'value', 'min', 'lower_quartile', 'median', 'upper_quartile', 'max', 'mean'])

for i in element:
    stat_col_numeric[i] = stat_numeric_col(data_df[i])
stat_col_numeric

,Episodes,Duration_Minutes,Score,Scored_Users,Ranked,Popularity,Members,Favorites
missing_ratio,2.5,2.8,32.1,32.1,9.0,0.0,0.0,0.0
num_differ_value,231,153,560,7963,19052,20275,10594,1722
value,"1.0 10140 2.0 1480 3.0 683 4.0 527 5.0 205 ... 1664.0 1 1787.0 1 1818.0 1 3057.0 1 NaN 547 Length: 231, dtype: int64","1.0 842 2.0 1320 3.0 1299 4.0 1027 5.0 962 ... 161.0 2 163.0 1 167.0 1 168.0 1 NaN 599 Length: 153, dtype: int64","1.841 1 1.981 1 2.201 1 2.221 1 2.291 1 .. 9.071 1 9.081 2 9.121 1 9.131 1 NaN 6898 Length: 560, dtype: int64","101.0 1 102.0 4 103.0 12 104.0 6 105.0 13 .. 959062.0 1 970920.0 1 990254.0 1 997243.0 1 NaN 6898 Length: 7963, dtype: int64","12.0 1 22.0 1 32.0 1 42.0 1 52.0 1 .. 195602.0 1 195612.0 1 195622.0 1 195632.0 1 NaN 1924 Length: 19052, dtype: int64","1 1 2 1 3 1 4 1 5 1 .. 21484 1 21487 1 21488 1 21489 1 21490 2 Length: 20275, dtype: int64","6 4 7 1 15 15 16 4 18 7 .. 2813565 1 2879907 1 2978455 1 3504535 1 3524109 1 Length: 10594, dtype: int64","0 8131 1 2176 2 1158 3 704 4 586 ... 159701 1 175248 1 177620 1 188649 1 207772 1 Length: 1722, dtype: int64"
min,1.0,1.0,1.8,101.0,12.0,1.0,6.0,0.0
lower_quartile,1.0,5.0,5.8,418.0,48879.5,5369.8,291.0,0.0
median,2.0,22.0,6.4,1876.5,97777.0,10741.5,1582.5,2.0
upper_quartile,12.0,26.0,7.1,11406.5,146714.5,16119.2,11585.5,23.0
max,3057.0,168.0,9.1,997243.0,195632.0,21490.0,3524109.0,207772.0
mean,13.272892,23.934135,6.421724,26507.173809,97795.212019,10743.103681,39265.959366,462.214865

## Nhận xét:
- Các cột "Episodes", "Scored_Users", "Popularity", "Members", "Favorites" dữ liệu tập trung chủ yếu ở giá trị thấp, chênh lệch rất lớn giữa min và max (từ 3000 đến 100000 lần) nên nhìn chung giá trị trung bình chênh lệch cũng không quá cao với min.
- Cột "Duration", "Minutes" có dữ liệu không chênh lệch nhiều, các giá trị tập trung chủ yếu ở 50 - 75%.
- Cột "Ranked", "Score" có dữ liệu phân bố đồng đều hơn ở các khoảng.

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Xem tất cả các cột của dataframe:

In [17]:
data_df.columns

Index(['ID', 'Title', 'Synonyms', 'English', 'Synopsis', 'Type', 'Episodes',
       'Status', 'Start_Aired', 'End_Aired', 'Premiered', 'Broadcast',
       'Producers', 'Licensors', 'Studios', 'Source', 'Genres', 'Themes',
       'Demographics', 'Duration_Minutes', 'Rating', 'Score', 'Scored_Users',
       'Ranked', 'Popularity', 'Members', 'Favorites'],
      dtype='object')

Các cột không phải số là:

In [18]:
cat_cols =  data_df.select_dtypes(include='object')
#cat_cols

Các cột trên được chia thành 2 loại:
- Các cột mà dữ liệu là 1 chuỗi đơn lẻ và chứa 1 thông tin
- Các cột multidata, là những cột gồm nhiều thông tin được phân cách bởi dấu phẩy

Trước hết, ta cần chia các cột có dấu phẩy đó thành kiểu list để dễ xử lý. Các cột multidata là:

In [19]:
multidata_cols = ['Producers', 'Studios', 'Genres', 'Themes', 'Demographics']

In [21]:
#Chuyển các cột multidata sang list
for col in multidata_cols:
    cat_cols[col] =  cat_cols[col].str.split(',')
#cat_cols

Những yếu tố cần xét của mỗi cột để khám phá sự phân bố của dữ liệu:
- Phần trăm các giá trị bị thiếu
- Số lượng các giá trị khác nhau (không kể các giá trị thiếu). Đối với các cột multidata, các giá trị khác nhau được tính là các giá trị trong list chứ không phải nguyên cả list.
- Với mỗi giá trị khác nhau đó, tính phần trăm của nó. (Được tính bằng số lần xuất hiện của giá trị đó chia cho số dòng trong dataframe, không kể dòng mang giá trị thiếu)

Phần trăm giá trị bị thiếu

In [26]:
num_row = cat_cols.shape[0]
#Phẩn trăm giá trị bị thiếu
missing_ratio = np.sum(cat_cols.isna(), axis = 0) / num_row * 100

Số lượng các giá trị khác nhau và tỷ lệ của nó

In [29]:
#Các cột không phải multidata
cat_no_multi = [col for col in cat_cols.columns if col not in multidata_cols] 
num_diff_value = dict()
percent_diff_value = dict()
for col in cat_no_multi:
    num_not_na = len(cat_cols[col].dropna())
    #Tính số lượng các giá trị khác nhau
    num_diff_value[col] = len(set(cat_cols[col].dropna()))
    #Tính phần trăm của các giá trị khác nhau
    percent_diff_value[col] = (cat_cols.dropna(subset = [col]).groupby(col).size() / num_not_na * 100)
    #Sắp xếp phần trăm các giá trị khác nhau theo thứ tự giảm dần
    percent_diff_value[col] = percent_diff_value[col].sort_values(ascending=False)
    percent_diff_value[col] = percent_diff_value[col].round(3).to_dict()

In [30]:
#Các cột là multidata
for col in multidata_cols:
    num_not_na = len(cat_cols[col].dropna())
    #Tính số lượng các giá trị khác nhau
    num_diff_value[col] = len(set(cat_cols[col].dropna().explode()))
    #Tính phần trăm của các giá trị khác nhau
    percent_diff_value[col] = (cat_cols.dropna(subset = [col]).explode(col).groupby(col).size() / num_not_na * 100)
    #Sắp xếp phần trăm các giá trị khác nhau theo thứ tự giảm dần
    percent_diff_value[col] = percent_diff_value[col].sort_values(ascending=False)
    percent_diff_value[col] = percent_diff_value[col].round(3).to_dict()

In [33]:
pd.set_option('display.max_colwidth', 100)
num_diff_value = pd.Series(data = num_diff_value)
percent_diff_value = pd.Series(data = percent_diff_value)

cate_col_profiles_df = pd.DataFrame([missing_ratio, num_diff_value, percent_diff_value],  
                                    index = ["missing_ratio", "num_different_values", "percent_different_values"])
cate_col_profiles_df

,Title,Synonyms,English,Synopsis,Type,Status,Start_Aired,End_Aired,Premiered,Broadcast,Producers,Licensors,Studios,Source,Genres,Themes,Demographics,Rating
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_different_values,21460,11557,8897,18505,7,3,8221,4796,238,569,2007,261,1250,17,42,97,9,7
percent_different_values,"{'.hack//G.U. Returner': 0.005, 'Pittarazu Gekijou Manner CM': 0.005, 'Pittanko!! Nekozakana (20...","{'Unknown': 43.243, 'Minna no Uta': 1.608, 'Irodorimidori': 0.214, 'iMarine': 0.042, 'Irodorimid...","{'Unknown': 57.679, 'Magical Legend Rise to Immortality': 0.019, 'The Westward': 0.019, 'Cyborg ...","{'Unknown': 12.665, 'Film by Takashi Ito.': 0.061, 'Furukawa Taku film.': 0.061, 'A short film b...","{'TV': 29.264, 'OVA': 18.555, 'Movie': 18.173, 'ONA': 13.062, 'Special': 11.286, 'Music': 9.45, ...","{'Finished Airing': 96.426, 'Not yet aired': 2.06, 'Currently Airing': 1.514}","{'Unknown': 1.743, '2010': 0.415, '2011': 0.396, '2005': 0.391, '2012': 0.349, '2008': 0.34, '20...","{'Not Available': 52.474, 'Unknown': 5.0, '2019': 0.079, '2014': 0.075, '2013': 0.07, 'Mar 26, 2...","{'Unknown': 75.657, 'Spring 2017': 0.405, 'Fall 2016': 0.382, 'Spring 2018': 0.373, 'Spring 2016...","{'Unknown': 85.349, 'Not scheduled once per week': 0.457, 'Sundays at 0000 (JST)': 0.21, 'Sunday...","{'Unknown': 49.338, 'NHK': 3.453, 'TV Tokyo': 2.451, 'Aniplex': 2.316, 'Bandai Visual': 1.789, '...","{'Unknown': 78.677, 'Funimation': 4.436, 'Sentai Filmworks': 3.56, 'Discotek Media': 1.184, 'Ani...","{'Unknown': 37.698, 'Toei Animation': 3.896, 'Sunrise': 2.512, 'J.C.Staff': 1.845, 'Madhouse': 1...","{'Original': 34.129, 'Manga': 20.541, 'Unknown': 16.785, 'Visual novel': 5.093, 'Game': 4.935, '...","{'Comedy': 22.269, 'Action': 20.238, 'Unknown': 17.237, ' Fantasy': 14.413, ' Sci-Fi': 11.524, '...","{'Unknown': 44.958, 'Music': 11.323, 'Historical': 5.895, 'Mecha': 4.963, 'School': 4.576, ' Sch...","{'Unknown': 62.563, 'Kids': 20.149, 'Shounen': 9.45, 'Seinen': 4.231, 'Shoujo': 3.136, 'Josei': ...","{'PG-13 - Teens 13 or older': 35.671, 'G - All Ages': 31.873, 'PG - Children': 12.167, 'Rx - Hen..."

Xem một số giá trị của mỗi cột mà có tỷ lệ lớn nhất

In [34]:
cate_col_profiles_df.loc['percent_different_values', : ]

Title           {'.hack//G.U. Returner': 0.005, 'Pittarazu Gekijou Manner CM': 0.005, 'Pittanko!! Nekozakana (20...
Synonyms        {'Unknown': 43.243, 'Minna no Uta': 1.608, 'Irodorimidori': 0.214, 'iMarine': 0.042, 'Irodorimid...
English         {'Unknown': 57.679, 'Magical Legend Rise to Immortality': 0.019, 'The Westward': 0.019, 'Cyborg ...
Synopsis        {'Unknown': 12.665, 'Film by Takashi Ito.': 0.061, 'Furukawa Taku film.': 0.061, 'A short film b...
Type            {'TV': 29.264, 'OVA': 18.555, 'Movie': 18.173, 'ONA': 13.062, 'Special': 11.286, 'Music': 9.45, ...
Status                                {'Finished Airing': 96.426, 'Not yet aired': 2.06, 'Currently Airing': 1.514}
Start_Aired     {'Unknown': 1.743, '2010': 0.415, '2011': 0.396, '2005': 0.391, '2012': 0.349, '2008': 0.34, '20...
End_Aired       {'Not Available': 52.474, 'Unknown': 5.0, '2019': 0.079, '2014': 0.075, '2013': 0.07, 'Mar 26, 2...
Premiered       {'Unknown': 75.657, 'Spring 2017': 0.405, 'Fall 2016': 0.382, 'Spring 2018': 0.373, 'Spring 2016...
Broadcast       {'Unknown': 85.349, 'Not scheduled once per week': 0.457, 'Sundays at 0000 (JST)': 0.21, 'Sunday...
Producers       {'Unknown': 49.338, 'NHK': 3.453, 'TV Tokyo': 2.451, 'Aniplex': 2.316, 'Bandai Visual': 1.789, '...
Licensors       {'Unknown': 78.677, 'Funimation': 4.436, 'Sentai Filmworks': 3.56, 'Discotek Media': 1.184, 'Ani...
Studios         {'Unknown': 37.698, 'Toei Animation': 3.896, 'Sunrise': 2.512, 'J.C.Staff': 1.845, 'Madhouse': 1...
Source          {'Original': 34.129, 'Manga': 20.541, 'Unknown': 16.785, 'Visual novel': 5.093, 'Game': 4.935, '...
Genres          {'Comedy': 22.269, 'Action': 20.238, 'Unknown': 17.237, ' Fantasy': 14.413, ' Sci-Fi': 11.524, '...
Themes          {'Unknown': 44.958, 'Music': 11.323, 'Historical': 5.895, 'Mecha': 4.963, 'School': 4.576, ' Sch...
Demographics    {'Unknown': 62.563, 'Kids': 20.149, 'Shounen': 9.45, 'Seinen': 4.231, 'Shoujo': 3.136, 'Josei': ...
Rating          {'PG-13 - Teens 13 or older': 35.671, 'G - All Ages': 31.873, 'PG - Children': 12.167, 'Rx - Hen...
Name: percent_different_values, dtype: object

Nhận xét: 
- Dữ đầy đủ, không có giá trị nào bị thiếu
- Số lượng các giá trị khác nhau của cột Title là phù hợp vì mỗi bộ phim có một title khác nhau nên số lượng của nó sẽ bằng số dòng của dataframe. Số lượng các giá trị khác nhau của các cột khác cũng không có gì bất thường
- Tỷ lệ của các giá trị khác nhau thì hầu hết cột nào có bao gồm giá trị 'Unknown' thì 'Unknown' sẽ chiếm đa số, lý do cho vấn đề này là trên web của hàng chục ngàn bộ anime và sẽ có nhiều bộ không có danh tiếng, những bộ đó sẽ thường ít thông tin.